// Definindo a tipografia do site
html,
button,
input {
  font-family: $fontFamily;
}

:root {
  font-size: 16px;
}

h1,
h2,
h3,
p,
a {
  &::selection {
    background: $highlightColor;
  }
}

// Classes gerais usadas por diversos componentes do site

// Classes que mudam as cores do site de acordo com
// o tema atual (light ou dark)
// Cor do fundo e do texto branco e preto respectivamente
.lightTheme {
  background: $light !important;
  color: $dark !important;
}

// Cor do fundo e do texto preto e branco respectivamente
.darkTheme {
  background: $dark !important;
  color: $light !important;
}

// Fundo no primeiro tom de branco
.lightBg {
  background: $light !important;
}

// Fundo no segundo tom de branco (mais escuro)
.lightTwoBg {
  background: $lightTwo !important;
}

// Fundo no terceiro tom de branco (mais escuro ainda)
.lightThreeBg {
  background: $lightThree !important;
}

// Fundo no primeiro tom de preto
.darkBg {
  background: $dark !important;
}

// Fundo no segundo tom de preto (mais escuro)
.darkTwoBg {
  background: $darkTwo !important;
}

// Fundo no terceiro tom de preto (mais escuro ainda)
.darkThreeBg {
  background: $darkThree !important;
}

// Cor do texto no primeiro tom de branco
.lightColor {
  color: $light !important;
}

// Cor de texto no primeiro tom de preto
.darkColor {
  color: $dark !important;
}

// Cor de texto no terceiro tom de preto
.darkThreeColor {
  color: $darkThree !important;
}

// Classes para hover de acordo com o tema
// Segundo tom de branco
.lightTwoHoverBg {
  transition: all 0.2s ease-in;

  &:hover {
    background: $lightTwo;
  }
}

// Segundo tom de preto
.darkTwoHoverBg {
  transition: all 0.2s ease-in;

  &:hover {
    background: $darkTwo;
  }
}

// Classes com fill para svg do shape divider
// Primeiro tom de branco
.lightFill {
  fill: $light !important;
}

// Segundo tom de branco
.lightTwoFill {
  fill: $lightTwo !important;
}

// Terceiro tom de branco
.lightThreeFill {
  fill: $lightThree !important;
}

// Primeiro tom de preto
.darkFill {
  fill: $dark !important;
}

// Segundo tom de preto
.darkTwoFill {
  fill: $darkTwo !important;
}

// Terceiro tom de preto
.darkThreeFill {
  fill: $darkThree !important;
}

// Classe do container principal do site
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

// Estilo de título e subtítulo
.title {
  position: relative;
  display: block;
  max-width: 650px;

  h1 {
    @include font(30, 200);

    @include responsive(small) {
      font-size: 1.8rem;
    }

    @include responsive(extraSmall) {
      font-size: 1.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 70%;
      display: block;
      width: 40px;
      height: 2px;
      background: $primaryColor;
    }
  }

  p {
    @include font(24, 200);
  }
}

.subtitle {
  @include font(24, 400);
}

// Estilo para quando nenhum resultado é encontrado na busca
.noResultsFound {
  grid-column: span 4;
  justify-self: center;
  align-self: center;

  p {
    @include font(20, 400);
  }
}
