// Definindo a tipografia do site
html {
  font-family: $fontFamily;
}

:root {
  font-size: 16px;
}

body {
  height: 2000px;
}

// Classes gerais usadas por diversos componentes do site

// Classes que mudam as cores do site de acordo com
// o tema atual (light ou dark)

// Cor do fundo e do texto branco e preto respectivamente
.lightTheme {
  background: $light !important;
  color: $dark !important;
}

// Cor do fundo e do texto preto e branco respectivamente
.darkTheme {
  background: $dark !important;
  color: $light !important;
}

// Fundo no primeiro tom de branco
.lightBg {
  background: $light !important;
}

// Fundo no segundo tom de branco (mais escuro)
.lightTwoBg {
  background: $lightTwo !important;
}

// Fundo no terceiro tom de branco (mais escuro ainda)
.lightThreeBg {
  background: $lightThree !important;
}

// Fundo no primeiro tom de preto
.darkBg {
  background: $dark !important;
}

// Fundo no segundo tom de preto (mais escuro)
.darkTwoBg {
  background: $darkTwo !important;
}

// Fundo no terceiro tom de preto (mais escuro ainda)
.darkThreeBg {
  background: $darkThree !important;
}

// Cor do texto no primeiro tom de branco
.lightColor {
  color: $light !important;
}

// Cor de texto no primeiro tom de preto
.darkColor {
  color: $dark !important;
}

// Classe do container principal do site
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

// Estilo de título e subtítulo
.title {
  display: block;

  h1 {
    position: relative;
    @include font(30, 200);

    &::before {
      content: "";
      position: absolute;
      top: 70%;
      display: block;
      width: 40px;
      height: 2px;
      background: $primaryColor;
    }
  }
}
