// Animações de entrada

// Animação de baixo pra cima
@mixin showBottom {
  @keyframes keyShowBottom {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

// Animação da esquerda pra direita
@mixin showFromTop {
  @keyframes keyShowFromTop {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

// Animação de loading skeleton para as imagens e vídeos
@mixin loadingSkeleton {
  @keyframes keyLoadingSkeleton {
    from {
      background-position: 0px;
    }
    to {
      background-position: -200%;
    }
  }
}
