// Variáveis de cor
$primaryColor: #76a4d7;
$dark: #3e3e3f;
$darkTwo: #272727;
$light: #ffffff;
$lightTwo: #f5f5f5;

// Variáveis de fonte
$fontFamily: "Josefin Sans", sans-serif;

// Variáveis com os tamanhos de tela
$largeDevice: 1200px;
$mediumDevice: 700px;
$smallDevice: 550px;
