// Variáveis de cor
$primaryColor: #76a4d7;
$primaryDarker: #28578d;
$highlightColor: #91bff5;
$dark: #3e3e3f;
$darkTwo: #272727;
$darkThree: #1b1b1b;
$light: #ffffff;
$lightTwo: #fafafa;
$lightThree: #e7e7e7;
$pexelsColor: #05a081;

// Variáveis de fonte
$fontFamily: "Josefin Sans", sans-serif;

// Variáveis com os tamanhos de tela
$largeDevice: 1200px;
$mediumDevice: 700px;
$smallDevice: 550px;

// Variável do gutter do site
$gutter: 3.5rem;
$shapeDividerGutter: 10rem;
