// Variáveis de cor
$primaryColor: #76a4d7;
$dark: #3e3e3f;
$darkTwo: #272727;
$darkThree: #0f0f0f;
$light: #ffffff;
$lightTwo: #fafafa;
$lightThree: #e7e7e7;

// Variáveis de fonte
$fontFamily: "Josefin Sans", sans-serif;

// Variáveis com os tamanhos de tela
$largeDevice: 1200px;
$mediumDevice: 700px;
$smallDevice: 550px;

// Variável do gutter do site
$gutter: 3rem;
