.navbarNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font(20, 300);

  li + li {
    margin-left: 0.5rem;
  }

  a {
    display: block;
    padding: 1rem;
    color: inherit;
  }
}

// Estilos para a navbar mobile
.navbarNavMobile {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  @include boxShadow;
  z-index: 1800;

  .navbarNav {
    flex-direction: column;
    align-items: flex-end;

    li {
      width: 100%;
      text-align: right;
    }

    li:nth-child(3) {
      padding: 1rem 1rem;
      display: flex;
      justify-content: flex-end;
    }

    a {
      padding: 1rem 1rem;
    }
  }

  &.active {
    display: block;
    animation: keyShowBottom 0.2s ease-in forwards;
  }
}

@include showBottom;
