.features {
  padding: $gutter 0;

  .featuresWrapper {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: $gutter;

    @include responsive(small) {
      grid-template-columns: minmax(300px, 550px);
    }

    @include responsive(extraSmall) {
      grid-template-columns: 1fr;
    }

    .feature {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        padding: 1rem;
        width: 96px;
        border-radius: 10px;

        svg {
          width: 80px;
          height: 80px;
        }
      }

      p.text {
        @include font(20, 400);
        text-align: center;
        margin-top: 1rem;
      }
    }
  }
}
