.jumbotron {
  position: relative;
  display: block;
  height: 450px;
  overflow: hidden;
  z-index: 1;

  @include responsive(small) {
    height: 350px;
  }

  @include responsive(extraSmall) {
    height: 330px;
  }

  .coverImg {
    position: absolute;
  }
}
