.palavrasChave {
  padding: $gutter 0;

  .wrapper {
    animation: keyShowBottom 0.6s ease-out forwards;
  }

  @include showBottom;

  .palavras {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.2rem;

    .palavra {
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid transparent;
      transition: all 0.2s ease-in;

      @include responsive(medium) {
        margin-bottom: 1.5rem;
      }

      @include responsive(small) {
        margin-bottom: 1.5rem;
      }

      @include responsive(extraSmall) {
        margin-bottom: 1.5rem;
      }

      &:hover {
        border: 2px solid $primaryColor;
      }

      a {
        display: block;
        color: inherit;
        padding: 1rem;
        @include font(20, 400);
      }
    }

    .palavra + .palavra {
      margin-left: 1.5rem;
    }
  }
}
