.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  @include responsive(medium) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include responsive(small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(extraSmall) {
    grid-template-columns: 1fr;
  }
}
