.loading {
  position: relative;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid $primaryColor;
  border-top-color: transparent;
  animation: keySpinner 1s linear infinite;
}

@include spinner;
