.photo {
  position: relative;

  .photoWrapper {
    padding: $gutter;

    @include responsive(small) {
      padding: 3rem 2rem;
    }

    @include responsive(extraSmall) {
      padding: 3rem 0.8rem;
    }
  }
}
